<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="auteur : nicolas, guillaume, kevin."/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ asset('/assets/img/favicon.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('/assets/css/global.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<nav class="nav-ordinateur">
        <img class="Hamburger_icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/32px-Hamburger_icon.svg.png" alt="burger">
        <a href="{{path('app_accueil')}}" class="logo">
            <img src="{{ asset('/assets/img/logow.svg') }}" alt="logoWhite">
        </a>
        <input type="text" name="recherche" class="recherche" placeholder="Rechercher..." required="">
        <div class="profil">
            <a href="{{path('app_profil')}}" class="utilisateur">Bonjour Jon Do</a>
            <img src="https://cdn.pixabay.com/photo/2017/01/27/14/25/burger-2013191_1280.png" alt="photoProfil">
        </div>
    </nav>
    <nav class="nav-mobile">
            <a href="{{path('app_accueil')}}" class="logo">
                <img src="{{ asset('/assets/img/logo.svg') }}" alt="logo">
            </a>
        <ul>
            <li><span></span></li>
            <li><a href="{{path('app_accueil')}}"><img src="{{ asset('assets/img/home.svg') }}" alt="accueil"><p>Accueil</p></a></li>
            <li><a href="{{path('app_planning')}}"><img src="{{ asset('assets/img/calendar_month.svg') }}" alt="calendriers"><p>Calendrier</p></a></li>
            <li><a href="{{path('app_rendu')}}"><img src="{{ asset('assets/img/event_upcoming.svg') }}" alt="evenements"><p>Rendus</p></a></li>
            <li><span></span></li>
            <div class="bouton-menu-deroulant" onclick="togglemenuderoulant()">
                <h3>Espaces</h3>
                <img id="expandIcon" src="{{ asset('assets/img/expand_more.svg') }}" alt="voir plus">
            </div>
            <div class="espaces">
                <ul class="menu-deroulant">
                    <li><a href="{{path('app_buts3')}}"><img src="{{ asset('assets/img/school.svg') }}" alt="écoles"><p>BUT S3</p></a></li>
                    <li><a href="{{path('app_personnel')}}"><img src="{{ asset('assets/img/folder_shared.svg') }}" alt="partage"><p>Personnel</p></a></li>
                </ul>
            </div>
            <li><span></span></li>
            <li><a href="{{path('app_profil')}}"><img src="{{ asset('assets/img/account_circle.svg') }}" alt="rond"><p>Profil</p></a></li>
            <li><a href=""><img src="{{ asset('assets/img/article.svg') }}" alt="article"><p>Mentions légales</p></a></li>
        </ul>
    </nav>
    <nav class="quicknav">
        <ul>
            <li><a href="{{path('app_accueil')}}">Accueil</a></li>
            <li><a href="{{path('app_planning')}}">Calendrier</a></li>
            <li><a href="{{path('app_rendu')}}">Rendus</a></li>
            <li><a href="{{path('app_buts3')}}">BUT S3</a></li>
            <li><a href="{{path('app_personnel')}}">Personnel</a></li>
        </ul>
    </nav>
    <div class="contenu">
    <aside class="dashboard">
        <h3>Gestion</h3>
        <ul>
            <li><a href="{{path('app_accueil')}}"><img src="{{ asset('assets/img/home.svg') }}" alt="maison"><p>Accueil</p></a></li>
            <li><a href="{{path('app_planning')}}"><img src="{{ asset('assets/img/calendar_month.svg') }}" alt="calendrier mois"><p>Calendrier</p></a></li>
            <li><a href="{{path('app_rendu')}}"><img src="{{ asset('assets/img/event_upcoming.svg') }}" alt="bientot"><p>Rendus</p></a></li>
        </ul>
        <div class="bouton-menu-deroulant" onclick="togglemenuderoulant()">
            <h3>Espaces</h3>
            <img id="expandIcon" src="{{ asset('assets/img/expand_more.svg') }}" alt="voir plus">
        </div>
        <div class="espaces">
            <ul class="menu-deroulant">
                <li><a href="{{path('app_buts3')}}"><img src="{{ asset('assets/img/school.svg') }}" alt="écoles"><p>BUT S3</p></a></li>
                <li><a href="{{path('app_personnel')}}"><img src="{{ asset('assets/img/folder_shared.svg') }}" alt="partage"><p>Personnel</p></a></li>
            </ul>
        </div>
        <p class="realistateurs">Réalisé par Nicolas, Guillaume et Kevin</p>
    </aside>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var hamburgerIcon = document.querySelector('.Hamburger_icon');
            var navMobile = document.querySelector('.nav-mobile');
    
            hamburgerIcon.addEventListener('click', function (event) {
                event.stopPropagation();
                navMobile.classList.toggle('active-mobile');
            });
    
            document.addEventListener('click', function (event) {
                var isClickInsideNavMobile = navMobile.contains(event.target);
    
                if (!isClickInsideNavMobile && navMobile.classList.contains('active-mobile')) {
                    navMobile.classList.remove('active-mobile');
                }
            });
        });
    </script>
    <script>
        function togglemenuderoulant() {
            var espacesDiv = document.querySelector('.espaces');
            var expandIcon = document.getElementById('expandIcon');

            espacesDiv.classList.toggle('desactive-espaces');
            expandIcon.classList.toggle('rotate180');
        }
    </script>
    {% block body %}
    {% endblock %}
    </div>
</body>
</html>